# HOME WORK 1
## Complete this section and turn in before the next class

## 1. Create an empty Python list called 'a'

In [25]:
a = list()

## 2. Store all values between 1-100 with increments of 03 (w/o Numpy) in 'a'

In [26]:
a.extend(range(1,100,3))

## 3. Create a list called 'a2' with numbers fro 2-46 with 0.5 increments

In [27]:
a2 = list(i/2 for i in range(4,92,1))

 ## 4. Double every even integer element of list 'a' from #2 
 ##  Store the results back in 'a'.

In [29]:
a = [i*2 for i in a]

## 5. Add all numbers in 'a' (except for the 2nd and the 21st element).

In [58]:
# assuming 'elements' start at 1, so index for 2nd element is 1 and index for 21st is 20
sum(a) - a[1] - a[20]

6208

## 6. Calculate the mean of a

In [39]:
sum(a)/len(a)

196.0

# LISTS AND STRINGS:
## 7. Create an empty list called b

In [123]:
b = list()

## 8. In b store every word in the sentence as an element of its own.
### sentence:'I am so excited about Data-X. It is important to be able to work with data.'

In [124]:
b.extend('I am so excited about Data-X. It is important to be able to work with data.'.replace('.','').split())

## 9. Count the occurences of the lower-case letter ’e’ in the list b.

In [125]:
sum(i.count('e') for i in b)

4

## 10. Replace every lower- or upper-case letter ’i’ in the list b with a ’1’

In [126]:
for i in range(0,len(b)):
    if 'i' in b[i]:
        b[i] = b[i].replace('i','1')
    if 'I' in b[i]:
        b[i] = b[i].replace('I','1')

## 11. Append the string ”This is the end of the first HW” to the list b, 
## with every new word as an element of its own

In [127]:
b.extend('This is the end of the first HW'.split())

## 12. Print b, as ONE string backwards (starting with ”WH tsrif ...”)

In [131]:
' '.join(list(i[::-1] for i in b[::-1]))

'WH tsrif eht fo dne eht si sihT atad ht1w krow ot elba eb ot tnatropm1 s1 t1 X-ataD tuoba det1cxe os ma 1'



## 13. Put the following in a dictionary called 'codes':
### Keys: 1001, 1002, 1003, 1004, 1005   
### Values: 'Alpa', Beta, 'Gamma, 'Delta', 'Tau'

## then traverse the dictionary by keys and change every value to be all lower case

In [138]:
codes = {1001 : 'Alpa', 1002 : 'Beta', 1003 : 'Gamma', 1004 : 'Delta', 1005 : 'Tau'}
for i in codes.keys():
    codes[i] = codes[i].lower()

## 14. Set A=( 1,3,5,7,8,9) Set B=(2,5,30,10).
## Find Union of A and B.

In [143]:
A = set([1,3,5,7,8,9])
B = set([2,5,30,10])
A.union(B)

{1, 2, 3, 5, 7, 8, 9, 10, 30}