# HOME WORK 1
## Complete this section and turn in before the next class

## 1. Create an empty Python list called 'a'

In [13]:
a = list()
print(a)

[]

## 2. Store all values between 1-100 with increments of 03 (w/o Numpy) in 'a'

In [14]:
a.extend(range(1,100,3))
print(a)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97]

## 3. Create a list called 'a2' with numbers fro 2-46 with 0.5 increments

In [15]:
a2 = list(i/2 for i in range(4,92,1))
print(a2)

[2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0, 10.5, 11.0, 11.5, 12.0, 12.5, 13.0, 13.5, 14.0, 14.5, 15.0, 15.5, 16.0, 16.5, 17.0, 17.5, 18.0, 18.5, 19.0, 19.5, 20.0, 20.5, 21.0, 21.5, 22.0, 22.5, 23.0, 23.5, 24.0, 24.5, 25.0, 25.5, 26.0, 26.5, 27.0, 27.5, 28.0, 28.5, 29.0, 29.5, 30.0, 30.5, 31.0, 31.5, 32.0, 32.5, 33.0, 33.5, 34.0, 34.5, 35.0, 35.5, 36.0, 36.5, 37.0, 37.5, 38.0, 38.5, 39.0, 39.5, 40.0, 40.5, 41.0, 41.5, 42.0, 42.5, 43.0, 43.5, 44.0, 44.5, 45.0, 45.5]

 ## 4. Double every even integer element of list 'a' from #2 
 ##  Store the results back in 'a'.

In [16]:
a = [i*2 for i in a]
print(a)

[2, 8, 14, 20, 26, 32, 38, 44, 50, 56, 62, 68, 74, 80, 86, 92, 98, 104, 110, 116, 122, 128, 134, 140, 146, 152, 158, 164, 170, 176, 182, 188, 194]

## 5. Add all numbers in 'a' (except for the 2nd and the 21st element).

In [17]:
# assuming 'elements' start at 1, so index for 2nd element is 1 and index for 21st is 20
sum(a) - a[1] - a[20]

3104

## 6. Calculate the mean of a

In [18]:
sum(a)/len(a)

98.0

# LISTS AND STRINGS:
## 7. Create an empty list called b

In [20]:
b = list()
print(b)

[]

## 8. In b store every word in the sentence as an element of its own.
### sentence:'I am so excited about Data-X. It is important to be able to work with data.'

In [21]:
b.extend('I am so excited about Data-X. It is important to be able to work with data.'.replace('.','').split())
print(b)

['I', 'am', 'so', 'excited', 'about', 'Data-X', 'It', 'is', 'important', 'to', 'be', 'able', 'to', 'work', 'with', 'data']

## 9. Count the occurences of the lower-case letter ’e’ in the list b.

In [22]:
sum(i.count('e') for i in b)

4

## 10. Replace every lower- or upper-case letter ’i’ in the list b with a ’1’

In [23]:
for i in range(0,len(b)):
    if 'i' in b[i]:
        b[i] = b[i].replace('i','1')
    if 'I' in b[i]:
        b[i] = b[i].replace('I','1')
print(b)

['1', 'am', 'so', 'exc1ted', 'about', 'Data-X', '1t', '1s', '1mportant', 'to', 'be', 'able', 'to', 'work', 'w1th', 'data']

## 11. Append the string ”This is the end of the first HW” to the list b, 
## with every new word as an element of its own

In [24]:
b.extend('This is the end of the first HW'.split())
print(b)

['1', 'am', 'so', 'exc1ted', 'about', 'Data-X', '1t', '1s', '1mportant', 'to', 'be', 'able', 'to', 'work', 'w1th', 'data', 'This', 'is', 'the', 'end', 'of', 'the', 'first', 'HW']

## 12. Print b, as ONE string backwards (starting with ”WH tsrif ...”)

In [25]:
' '.join(list(i[::-1] for i in b[::-1]))

'WH tsrif eht fo dne eht si sihT atad ht1w krow ot elba eb ot tnatropm1 s1 t1 X-ataD tuoba det1cxe os ma 1'



## 13. Put the following in a dictionary called 'codes':
### Keys: 1001, 1002, 1003, 1004, 1005   
### Values: 'Alpa', Beta, 'Gamma, 'Delta', 'Tau'

## then traverse the dictionary by keys and change every value to be all lower case

In [27]:
codes = {1001 : 'Alpa', 1002 : 'Beta', 1003 : 'Gamma', 1004 : 'Delta', 1005 : 'Tau'}
for i in codes.keys():
    codes[i] = codes[i].lower()
print(codes)

{1001: 'alpa', 1002: 'beta', 1003: 'gamma', 1004: 'delta', 1005: 'tau'}

## 14. Set A=( 1,3,5,7,8,9) Set B=(2,5,30,10).
## Find Union of A and B.

In [29]:
A = set([1,3,5,7,8,9])
B = set([2,5,30,10])
A.union(B)

{1, 2, 3, 5, 7, 8, 9, 10, 30}